<div class="w-full bg-[#f1f1f1] rounded-md flex flex-wrap items-start my-3" th:fragment="sidebar">
    <div class="w-full px-2 py-4 flex items-center account-links hover:bg-neutral-300 rounded-md">
        <a th:href="@{/admin/dashboard}" class="font-semibold text-md">Admin panel</a>
    </div>
    <div class="w-full px-2 py-4 flex items-center account-links hover:bg-neutral-300 rounded-md">
        <a th:href="@{/order/manage-orders}" class="font-semibold text-md">Manage orders</a>
    </div>
    <div class="w-full px-2 py-4 flex items-center account-links hover:bg-neutral-300 rounded-md">
        <a th:href="@{/products/manage-products}" class="font-semibold text-md">Manage Products</a>
    </div>
    <div class="w-full px-2 py-4 flex items-center account-links hover:bg-neutral-300 rounded-md">
        <a th:href="@{/categories/manage-categories}" class="font-semibold text-md">Manage categories</a>
    </div>
    <div class="w-full px-2 py-4 flex items-center account-links hover:bg-neutral-300 rounded-md">
        <a th:href="@{/brands/manage-brands}" class="font-semibold text-md">Manage brands</a>
    </div>
    <div class="w-full px-2 py-4 flex items-center account-links hover:bg-neutral-300 rounded-md">
        <a th:href="@{/advertisements/manage-advertisements}" class="font-semibold text-md">Manage Advertisements</a>
    </div>
    <div class="w-full px-2 py-4 flex items-center account-links hover:bg-neutral-300 rounded-md">
        <a th:href="@{/users/manage-users}" class="font-semibold text-md">Manage users</a>
    </div>
</div>