<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Ecommerce | Login</title>
</head>
<body class="h-full dark:bg-white">
    <header th:insert="~{fragments/header :: header }"></header>
    <div class="flex items-center flex-wrap justify-center h-screen">  
        <div class="w-full max-w-[1400px] mx-auto flex justify-center flex-wrap">
            <form class="w-10/12 max-w-[1000px]" autocomplete="off" method="post" th:action="@{/auth/login}">
                <div class="w-full flex justify-center max-w-[1000px] mx-auto flex-wrap" th:if="${msg_success != null}">
                    <div class="p-4 mb-4 text-sm bg-green-600 text-white" role="alert">
                        <span class="font-medium" th:text="${msg_success}"></span>
                    </div>
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    <input type="email" name="username" id="email" class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 appearance-none  border-gray-600 focus:border-blue-500 focus:outline-none focus:ring-0 peer" placeholder=" " required autocomplete="off"/>
                    <label for="email" class="peer-focus:font-medium absolute text-sm  text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0  peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    <input type="password" name="password" id="password" class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 appearance-none  border-gray-600 focus:border-blue-500 focus:outline-none focus:ring-0 peer" placeholder=" " required autocomplete="off"/>
                    <label for="password" class="peer-focus:font-medium absolute text-sm  text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0  peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                </div>
                <div class="flex justify-center w-full">
                    <button type="submit" class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Login</button>
                </div>
            </form>  
            <div class="flex w-10/12 justify-center max-w-[1000px] mt-4">
                <div class="w-6/12 flex justify-start">
                    <a 
                        th:href="@{/auth/register}" 
                        class="text-blue-600 focus:ring-4  font-medium rounded-lg text-md px-4 lg:px-5 py-2 lg:py-2.5 mr-2 hover:underline focus:outline-none focus:ring-gray-800"
                    >
                        Create Account
                    </a>
                </div>
                <div class="w-6/12 flex justify-end">
                    <a 
                        th:href="@{/auth/recover-password}" 
                        class="text-blue-600 focus:ring-4  font-medium rounded-lg text-md px-4 lg:px-5 py-2 lg:py-2.5 mr-2 hover:underline focus:outline-none focus:ring-gray-800"
                    >
                        Recover Password
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/flowbite.min.js}"></script>
</body>
</html>