<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Ecommerce | Not found</title>
</head>
<body class="h-full">
    <header th:insert="~{fragments/header :: header }"></header>
    <main class="h-screen w-full flex flex-col justify-center items-center">
        <h1 class="text-9xl font-extrabold text-[#f00] tracking-widest">404</h1>
        <p class="text-center text-2xl font-bold">Not Found</p>
    </main>
    <script th:src="@{/js/flowbite.min.js}"></script>
</body>
</html>